.imgMotionWrapper {
  position: relative;
  display: inline-block;
}

.imgMotionWrapper:hover {
  z-index: 99;
}


.smItem {
    position: relative;
    width: 200px;
    min-width: 200px;
    height: 150px;
    min-height: 150px;
  }
  
  .mdItem {
    position: relative;
    width: 170px;
    min-width: 170px;
    height: 200px;
    min-height: 200px;
  }
  
  .lgItem {
    position: relative;
    width: 218px;
    min-width: 218px;
    height: 300px;
    min-height: 280px;
  }
  .container {
    margin-right: 0.5rem /* 4px */;
    cursor: pointer;
  }
  
  .cardImg {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  
    border-radius: 0.4rem /* 6px */;
    object-fit: cover;
  
    object-position: center;
    display: block;
  
    max-width: 100%;
  }